.mainPicture {
  width: 90%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  height: 89vh; /* Changed from 88vh to 100% for full height */
  background: linear-gradient(to bottom, rgba(166, 98, 255, 0), rgb(241, 215, 252)), url('/public/images/6.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: left top;
  border: 1px;
  box-shadow: var(--box-shadow-properties);
  border-radius: 10px;
  overflow: hidden;
}

.box {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 25%; /* Changed from 400px to 100% for full width */
  min-height: 60%; /* Changed from 400px to auto to adjust height automatically */
  border-radius: var(--border-radius);
  background-color: rgba(0,0,0, 0.4);
  backdrop-filter: blur(20px); /* Black w/opacity/see-through */
  color: var(--ligt-text-color);
  box-shadow: var(--box-shadow-properties);
  font-size: 1.5rem;
  text-decoration: none;
  margin: 200px; /* Reduced margin from 100px to 20px */
  font-family: 'Courier New', Courier, monospace;
}

.button{
  padding: 5px;
  border-radius: 5px;
  color: var(--ligt-text-color);
  background-color: rgb(88, 66, 109);
  border: 1px solid #594264;
  box-shadow: var(--box-shadow-properties);
  width: 25%; /* Changed from 75px to 100% for full width */
  min-height: 5%; /* Changed from 30px to auto to adjust height automatically */
  margin: 10px;
}

.button:hover{
  cursor: pointer;
  box-shadow: var(--box-shadow-properties-white);
  background-color: rgb(186, 138, 231);
  color: var(---text-color);
  border: 1px solid #c190d8;
}

/* Responsive styles */
@media (max-width: 911px) {
  .main {
    flex-direction: column;
    justify-content: center;
    max-height: 790px;
    align-content: center;
  }

  .box {
    width: 70%;
    margin: 20px;
    font-size: 1rem;
    padding: 30px;
    height: auto ;
  }

  .button {
    width: 100%;
    font-size: small;
  }
}

@media (min-width: 912px) and (max-width: 1280px) {
  .main {
    flex-direction: column;
    justify-content: center;
    max-height: 640px; /* adjust as needed */
    align-content: center;
  }

  .box {
    width: 70%;
    margin: 20px;
    font-size: 1.5rem;
    padding: 30px;
    height: auto ;
  }

  .button {
    width: 100%;
    font-size: small;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .main {
    flex-direction: column;
    justify-content: center;
    max-height: 455px; /* adjust as needed */
    align-content: center;
  }

  .box {
    width: 70%;
    margin: 10px;
    font-size: 1.2rem;
    padding: 30px;
    height: auto;
  }

  .button {
    width: 100%;
    font-size: small;
  }
}

@media (min-width: 1281px) and (max-width: 2050px) {
  .main {
    flex-direction: column;
    max-height: 670px; /* adjust as needed */
  }

  .box {
    margin: 100px;
    font-size: 1rem;
    padding: 40px;
    height: auto;
  }
}