.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f3e7fa;
    color: var(--text-color);
    box-shadow: var(--box-shadow-properties);
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
  }
  
  .logo a {
    color: var(--text-color);
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.1rem;
  }
  
  .nav a:hover {
    color: #2003272c;
  }
  