:root {
  --box-shadow-properties: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-properties-white: 0px 0px 10px 2px rgba(228, 197, 238, 0.767);
  --border-radius: 10px;
  --text-color: #544a5c91;
  --ligt-text-color: hsla(273, 72%, 86%, 0.993);
}
body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
